body {
    font-family: Arial, sans-serif;
    background-color: floralwhite;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(118, 224, 129, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(113, 255, 130, 0.2);
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-size: 18px;
    color: #444;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}
